@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	color: #F2F2F2;
	background: #5A8FBF;
	background: linear-gradient(to left,#5A8FBF 0%,rgba(3, 76, 140, 0.65) 100%,rgba(3, 76, 140, 0.35) 100%);
}

/*  Header and Logo  */
header {
	background: linear-gradient(to bottom,#4072bb 0%,#396bb4 18%,#194a97 79%,#104190 100%);
	height: 46px;
	padding: 5px 0;
}

.title {
	float: left;
	pointer-events: none;
}

.title span {
	font-size: 2em !important;
}

/*  Nav  */
header * {
	color: #F2F2F2 !important;
	text-transform: none !important;
}

.practiceAreas span{
	padding-right: 30px !important;
}

.fa-caret-down {
	margin-left: -25px;
	margin-right: 17px;
}

.practiceAreas:hover ~ .dropdown {
	opacity: 1 !important;
	top: 0;
}

.dropdown:hover {
	opacity: 1 !important;
	top: 0;
}

.dropdown {
	background-color: rgba(3, 76, 140, 0.75);
	position: relative;
	left: calc(100% - 385px);
	max-width: 285px;
	opacity: 0;
	top: -50px;
	transition: 0.5s ease;
}

.menuItem {
	margin-top: 20px;
}

main button {
	background-color: rgba(3, 76, 140, 0.25);
	margin: 10px;
}

/*  Slide Show  */
.slideshow {
	margin: 61px 0 0;
	overflow: hidden;
}

.welcome, .links {
	background-color: rgba(3, 76, 140, 0.25);
	margin-top: 20px;
	padding: 10px 20px;
	height: 400px;
	overflow: hidden;
}

/*  Footer  */
footer {
	/*background-color: #022341;*/
	background: linear-gradient(to top,#4072bb 0%,#396bb4 8%,#194a97 59%,#104190 100%);
	padding: 20px;
	margin-top: 20px;
}

footer .text-center {
		display: none;
	}

/*  Laptop  */
@media (min-width: 993px){
	footer .text-center {
		display: block;
	}
}

/*  Tablet  */
@media (min-width: 769px) and (max-width: 992px){
	footer .col-md-4 {
		width: 50%;
		float: left;
	}
}

/*  Mobile  */
@media (max-width: 768px){
	footer .col-md-4 {
		width: 50%;
		float: left;
	}
}


