@import url('https://fonts.googleapis.com/css?family=Roboto:300|Tangerine');

$font-stack: 'Roboto', Helvetica, sans-serif;
$primary-color: #183152;
$alt-color: #E1E6FA;
$mid-color: #ABC8E2;
$primary-text-color: #C4D7ED;
$alt-text-color: #375D81;


/*  General Styles  */
/*==================================================*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	background: linear-gradient(to right,$primary-color 0%,$primary-color 50%,rgba(24, 49, 82, 0.8) 100%);
	color: $primary-text-color;
	font: 120% $font-stack;
}

header, header button, footer {
	background-color: $alt-color;
	color: $alt-text-color !important;
}


/*  Logo Styles  */
/*==================================================*/
.logo {
	cursor: pointer;
	width: 11em;
	padding: 1em;
}


/*  Slider Styles  */
/*==================================================*/
.slick-slider {
	margin-top: 6em;
}


/*  Header Styles  */
/*==================================================*/
header {
	/*padding: 0.5em 0;*/
	span {
		font-size: 1em !important;
		text-transform: none !important;
	}
}

nav {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 36px;
	#Home {
		min-width: 45px !important;
		i {
			font-size: 1.8em;
		}
	}
	#About {
		min-width: 60px !important;
	}
	#practiceAreas {
		padding: 0 12px !important;
	}
	#Contact {
		min-width: 65px !important;
	}
	#Home:hover, #About:hover, #Contact:hover {
		background-color: $alt-color !important;
		color: $mid-color !important;
	}
}

#dropdown {
	background-color: $alt-color;
	font-size: 0.8em;
	max-width: 260px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 80px;
	top: 36px;
	transition: 0.5s ease;
	button {
		background-color: rgba(153, 153, 153, 0.2) !important;
		height: 0px !important;
		text-align: right !important;
    	transition: 0.5s ease;
		width: 100%;
    	span {
    		padding-right: 25px !important;
    	}
	}
	button:hover {
		background-color: $alt-color !important;
	}
}

#practiceAreas:hover ~ #dropdown {
	opacity: 1;
	pointer-events: auto !important;
	button {
		height: 36px !important;
	}
}

#dropdown:hover {
	opacity: 1;
	pointer-events: auto !important;
	button {
		height: 36px !important;
	}
}

#hamburger {
	display: none;
	position: absolute;
	right: 3em;
	top: 3em;
	color: $primary-color;
}

#hamburger:hover {
	color: $mid-color;
}

@media (min-width: 600px) and (max-width: 992px){
	header .col-md-4 {
		float: left;
		width: 33.33%;
	}
	header .col-md-8 {
		float: left;
		width: 66.67%;
	}
}

@media (max-width: 600px){
	header, header .container {
		padding: 0 !important;
	}
	#logo {
		width: 100% !important;
	}
	#nav {
		font-size: 1em;
		margin-top: 0;
		text-align: center;
	}
	#hamburger {
		display: block;
	}
	#dropdown {
		font-size: 1em;
	}
}


/*  Main Content Styles  */
/*==================================================*/
main > div {
	background-color: rgba(171, 200, 226, 0.3);
}


/*  Home Page Styles  */
/*==================================================*/
#home {
	background-color: transparent;
	div {
		padding: 15px;
	}
	.welcome {
		background-color: rgba(171, 200, 226, 0.4);
		min-height: 450px;
		padding: 1em 3em 3em;
		.quote {
			font-family: 'Tangerine', cursive;
			font-size: 3em;
			padding: 1em 2em;
		}
		.description {
			text-align: justify;
		}
	}
	.links {
		background-color: rgba(171, 200, 226, 0.3);
		min-height: 450px;
		padding: 1em;
	}
	a {
	    color: #C4D7ED;
	}
}

.links i {
	border: 2.3px solid $primary-text-color;
	border-radius: 2.3em;
	font-size: 2.5em;
	height: 2.3em;
	line-height: 2.2em;
	margin: 0.2em 0.4em;
	width: 2.3em;
}

.links i:hover {
	border: 2px solid $alt-text-color;
	color: $alt-text-color;
	cursor: pointer;
	transition: 0.1s ease;
}

@media (max-width: 992px){
	#home .welcome {
		min-height: 0;
	}
	#home .links {
		min-height: 0;
	}
}

@media (max-width: 600px){
	.quote {
		padding: 0.5em !important;
	}
}

/*  About Styles  */
/*==================================================*/
#About {
	margin: 1em;
	padding: 1em;
	h4 {
		padding-left: 1em; 
	}
}


/*  Practice Styles  */
/*==================================================*/
.practice {
	margin: 1em;
	padding: 1em;
	h1 {
		font-size: 2.5em;
		padding: 0.5em;
		text-align: center;
	}
	h5 {
		padding-left: 1em; 
	}
	hr {
		padding-bottom: 2em;
	}
}


/*  Footer Styles  */
/*==================================================*/
footer {
	font-size: 1.3em;
	margin-top: 3em;
	padding: 1em 0;
	.col-md-4 {
		padding: 1em 0;
	}
	p {
		margin: 10px 0;
	}
	hr {
		display: none;
		margin: 0
	}
}

@media (min-width: 550px) and (max-width: 992px){
	footer .col-md-4 {
		float: left;
		width: 33.33%;
	}
}

@media (max-width: 549px){
	#footerLogo {
		display: none;
	}
	hr {
		border-top: 2px solid $mid-color;
		display: block !important;
		margin: 0 auto !important;
		width: 70%;
	}
}


/*  Contact Styles  */
/*==================================================*/
#contact {
	margin-top: 3em;
	min-height: 300px;
}
.info {
	font-size: 1.5em;
	line-height: 1.3em;
	padding-top: 2em;
	text-align: center;
}


/*  Error Styles  */
/*==================================================*/
.error {
	color: #f4c842;
	font-size: 2em;
	padding: 2em;
	text-align: center;
	i {
		font-size: 1.2em;
		padding: 0 0.5em;
	}
}



